.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 60px;
  box-shadow: inset 2px -1px 0 0 #0000001a;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2em;
  margin: 0.5em;
  text-align: center;
  background-color: var(--background-color);
}